<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="#">SOFTEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link"  [routerLink]="['/ultimos-usuarios']" (click)="coordinarEnlace('ilUsuariosConectados')">Usuarios conectados </a><!-- <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link"  [routerLink]="['/todos-los-usuarios']">Todos los usuarios</a><!-- <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/documentos']">Documentos</a><!-- <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-user" style="color: aliceblue;"></i>
            Usuario
            <!-- <span class="sr-only">(current)</span> -->
            </a>
        </li>
      </ul>
    </div>
  </nav>
