<h4 class="text-center font-weight-bold col-12">Documentos</h4>
<div class="container-fluid">
  <div class="row">
    <table class="table table-striped col-12 mt-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" >Nombre del documento</th>
          <th scope="col" class="text-center">Fecha de modificacion</th>
          <th scope="col" class="text-center">tipo</th>
          <th scope="col" class="text-center">Tamaño</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center" href="#"> <span class="fa fa-file" href="#"></span> Archivo 1 </th>
          <td class="text-center ">19/04/2019</td>
          <td class="text-center">pdf</td>
          <td class="text-center">250 MB</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" href="#"> <span class="fa fa-file" href="#"></span> Archivo 2 </th>
          <td class="text-center ">19/04/2019</td>
          <td class="text-center">pdf</td>
          <td class="text-center">20 MB</td>
        </tr>
        <tr>
            <th scope="row" class="text-center" href="#"> <span class="fa fa-file" href="#"></span> Archivo 3 </th>
            <td class="text-center ">19/04/2019</td>
            <td class="text-center">pdf</td>
            <td class="text-center">20 MB</td>
        </tr>
      </tbody>
  </table>
  </div>  
<!-- pagination -->
    <nav aria-label="..." class="mt-2">
        <ul class="pagination justify-content-center col-12" >
          <li class="page-item disabled">
            <span class="page-link">Anterior</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
          </li>
        </ul>
    </nav>
</div>